h1{
    color: blue;
    font_size: 30px;
}
p{
    color: green;
}
    div{
    background-color:black;
    height: 100px;
    width: 100px;
    border: 2px;
    border-color: white;
}

button{
    background-color:blueviolet;
    color :white;
}
